/* COMMON STYLES */

.relative {
  position: relative;
}

#chats_wrapper::-webkit-scrollbar {
  display: none;
}

.card_scroll::-webkit-scrollbar {
  width: 5px;
  display: block !important;
}

.card_scroll::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 20px;
}

.card_scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.position_rel {
  position: relative;
}

.position_abs {
  position: absolute;
}

.text-bold {
  font-weight: 600;
}

.txt-bg {
  font-size: 30px;
}

.txt-md {
  font-size: 22px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

p ,body{
  margin: 0;
  padding: 0;
}

/* COMMON STYLES END */

/* TOP HALF */

.chatbot_container {
  position: relative;
  width: 416px;
  height: 615px;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  margin: 0 auto;
}

.intro_txt_wrapper {
  text-align: left;
  margin: 20px 56px;
  color: #fff;
  font-family: "DM sans", sans-serif;
  position: relative;
  opacity: 0;
  animation: show_intro_txt 2s 2s forwards;
  -webkit-animation: show_intro_txt 2s 2s forwards;
}

.bot_title {
  font-weight: bold;
  margin-bottom: 7px;
}

.hello_txt {
  margin-bottom: 10px;
}

.intro_txt_wrapper img {
  left: 70px;
  top: 50px;
  position: absolute;
}

.iris_intro {
  font-size: 18px;
}

.bg_top_orange {
  position: absolute;
  width: 416px;
  height: 278px;
  left: 0px;
  top: -1px;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
  animation: show_orange_bg 2s forwards;
}

.ellipse {
  position: relative;
  width: 67px;
  height: 67px;
  left: 38px;
  top: 165px;
  margin: 0;
  z-index: 1;
  border-radius: 50%;
  background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.central_robot {
  animation: show_bot 4s 2s forwards;
  -webkit-animation: show_bot 4s 2s forwards;
  opacity: 0;
}

.central_robot_hidden {
  position: absolute;
  opacity: 0;
  animation: show_front_card 6s 2s forwards;
  -webkit-animation: show_front_card 6s 2s forwards;
  opacity: 0;
}

.ellipse img {
  position: absolute;
  left: 15px;
  top: 15px;
}

/* TOP HALF END */

/* ====FAQS SECTION==== */

#faqs {
  font-family: "DM sans", sans-serif;
  padding: 40px 30px;
  text-align: left;
}

.faqs_title {
  font-style: normal;
  font-size: 14px;
  position: relative;
  line-height: 18px;
  opacity: 0;
  animation: show_front_card 2s 4s forwards;
  -webkit-animation: show_front_card 2s 4s forwards;
}

.faqs_title img {
  position: absolute;
  top: -1px;
  right: lef;
  left: 190px;
}

.front_bottom_card {
  position: relative;
  width: 390px;
  height: 400px;
  left: 13px;
  top: 132px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  opacity: 0;
  animation: show_front_card 2s 4s forwards;
  -webkit-animation: show_front_card 2s 4s forwards;
}

.faq_items {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 11px;
}

.faq_item {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  font-size: 12px;
  position: relative;
  padding: 15px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0;
}

.faq_item:nth-of-type(1) {
  animation: show_faq 2s 6s 1 forwards;
  -webkit-animation: show_faq 2s 6s 1 forwards;
}

.faq_item:nth-of-type(2) {
  animation: show_faq 2s 8s 1 forwards;
  -webkit-animation: show_faq 2s 8s 1 forwards;
}

.faq_item:nth-of-type(3) {
  animation: show_faq 2s 10s 1 forwards;
  -webkit-animation: show_faq 2s 10s 1 forwards;
}

.faq_item:nth-of-type(4) {
  animation: show_faq 2s 12s 1 forwards;
  -webkit-animation: show_faq 2s 12s 1 forwards;
}

.bullet_mark {
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(255, 118, 0, 0.8);
  left: 12px;
  top: 19px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0px 0 2px rgba(255, 118, 0, 0.3);
}

/* FAQS END */

/* INPUT SECTION */

.input_box {
  position: absolute;
  width: 268px;
  height: 44px;
  cursor: pointer;
  left: 55px;
  bottom: 30px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  font-family: "DM sans", sans-serif;
  opacity: 0;
  animation: show_conversation_btn 2s 14s forwards;
  -webkit-animation: show_conversation_btn 2s 14s forwards;
}

.start_conv {
  position: relative;
}

.start_conv p {
  padding: 10px 0;
  margin: 0;
  font-weight: 500;
}

.start_conv img {
  position: absolute;
  left: 22px;
  top: 14px;
}

#input_bottom {
  position: relative;
}

#input_bottom input {
  width: 80%;
  height: 20px;
  padding: 10px;
  border: none;
}

#input_bottom input:focus {
  outline: none;
}

.send_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
}

.back_link {
  position: absolute;
  left: -30px;
  top: 10px;
  color: #000;
}

/* ==== CHAT SECTION ==== */

#chats_wrapper {
  margin-top: 30px;
  overflow-y: scroll;
  height: 280px;
  font-family: "DM sans", sans-serif;
  font-size: 14px;
}

.user_bubble, .bot_bubble {
  width: 100px;
  padding: 10px 15px;
  border-radius: 30px;
}

.user_bubble {
  float: right;
  background: #7272c02e;
  margin-right: 10px;
}

.bot_bubble {
  float: left;
  background: lightgreen;
  margin-left: 10px;
}

#chat_icon {
  position: absolute;
  left: 25px;
  top: 12px;
}

/* ==== CHAT SECTION end ==== */

/* OPEN CHAT BOT */

.open_chatbot {
  position: fixed;
  left: 80%;
  top: 80%;
  cursor: pointer;
}

/* ANIMATION FOR OPENING CHATBOT */
@keyframes show_orange_bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_intro_txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_bot {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes show_front_card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_faq {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_conversation_btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show_orange_bg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show_intro_txt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show_bot {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes show_front_card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show_faq {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show_conversation_btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}